Users/user/.lein/repl-history

Users/user/.emacs.d/backup/**/*
Users/user/.emacs.d/backups/**/*
Users/user/.emacs.d/auto-save/**/*
Users/user/.emacs.d/auto-save-list/**/*
Users/user/.emacs.d/ido.last
Users/user/.emacs.d/projectile-bookmarks.eld

Users/user/.xmonad/**/*.o
Users/user/.xmonad/**/*.hi
Users/user/.xmonad/xmonad-x86_64-linux
Users/user/.xmonad/xmonad.errors

Users/user/.config/Code/User/workspaceStorage/**/*

Users/user/.boot/cache/**/*