home/user/.emacs.d/backup/**/*
home/user/.emacs.d/backups/**/*
home/user/.emacs.d/auto-save/**/*
home/user/.emacs.d/auto-save-list/**/*
home/user/.emacs.d/ido.last

home/user/.xmonad/**/*.o
home/user/.xmonad/**/*.hi
home/user/.xmonad/xmonad-x86_64-linux
home/user/.xmonad/xmonad.errors
