home/user/.lein/repl-history

home/user/.emacs.d/backup/**/*
home/user/.emacs.d/backups/**/*
home/user/.emacs.d/auto-save/**/*
home/user/.emacs.d/auto-save-list/**/*
home/user/.emacs.d/ido.last

home/user/.xmonad/**/*.o
home/user/.xmonad/**/*.hi
home/user/.xmonad/xmonad-x86_64-linux
home/user/.xmonad/xmonad.errors

home/user/Library/Application Support/Code/Cookies
home/user/Library/Application Support/Code/Cookies-journal
home/user/Library/Application Support/Code/languagepacks.json
home/user/Library/Application Support/Code/machineid
home/user/Library/Application Support/Code/storage.json
home/user/Library/Application Support/Code/Backups/**
home/user/Library/Application Support/Code/Cache/**
home/user/Library/Application Support/Code/CachedData/**
home/user/Library/Application Support/Code/CachedExtensions/**
home/user/Library/Application Support/Code/GPUCache/**
home/user/Library/Application Support/Code/Local Storage/**
home/user/Library/Application Support/Code/logs/**
home/user/Library/Application Support/Code/User/workspaceStorage/**/*
